<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <title>Pi Home Raspberry</title>
    </head>
    <body>
        This application is running on <b><a href="http://{{host_ip}}:{{host_port}}">{{host_ip}}:{{host_port}}</a></b> on host <b>{{host_name}}</b>
        <br>
        In order to start controlling this application, please go to <a href='https://gingrassia.github.io/pi-home-frontend/' target="_blank">this link</a> and follow the steps there
    </body>
</html>
